!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Movie Markup
    %meta{:content => "movie markup challenge", :name => "description"}/
    %meta{:content => "aurorajobs", :name => "author"}/
    %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css", :integrity => "sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==", :referrerpolicy => "no-referrer", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
    -movies = Movie.where("position != 1")
    -movie1= Movie.where("position = 1")[0]
    .design_body{:style=> "background-image: url(#{movie1.image_link};"}
      .design_div
        %header.design_header
          %img.design_header__image{:alt => "smilling face", :src => "https://www.graphicspic.com/wp-content/uploads/2020/03/GPGV218-Happiness.png"}/
          .design_header__div
            %i.design_header__div__i.fa.fa-search
            %i.design_header__div__i.fa.fa-ellipsis-v
        .design_div__element
          %h1.design_div__element__h1{:style=> "margin-left: 10px"} Your top movies
        .design_div__element.design_div__element--floating
          %h1 #{movie1.position}
      .design_bottom
        -movies.each do |movie|
          .design_bottom__movie.design_bottom__movie{:style=> "background-image: url(#{movie.image_link};"}
            .design_bottom__movie__element.design_bottom__movie__element--floating
              %h1 #{movie.position}
      .design_editbtn
        %i.design_bottom__editbtn__i.fa.fa-pencil