html, body {
  @apply h-screen flex flex-col items-center justify-center;
}
.design_body{
  @apply my-4 h-full flex flex-col items-center justify-between bg-no-repeat	bg-center bg-cover relative;
  width: 550px;
  
}
.design_div{
  @apply w-full flex flex-col items-center justify-center text-white font-extrabold relative; 
  &__element{
    font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: calc(0.4vw + 0.4em);
    @apply w-full flex items-center bg-black bg-opacity-60;
    &--floating{
      @apply bg-black bg-opacity-60 h-[12vw] w-[12vw] flex justify-center items-center absolute right-3.5 top-[15vh];     
      max-width: 50px;
      max-height: 50px;
    }    
  } 
}
.design_header{
  @apply w-full flex items-center justify-between bg-black bg-opacity-70;
  &__image{
    @apply w-1/12;
  }
  &__div{
    @apply flex items-center justify-center;
    &__i{
      @apply text-lg mr-[1vw];
    }
  }
}
.design_bottom{
  @apply w-full h-[30vh] flex justify-between items-center overflow-x-auto absolute bottom-[0.5%];
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000000 100%);
  scrollbar-color: #d5ac68 #f1db9d;
  scrollbar-width: thin;
  &__movie{
    @apply w-[32%] h-[93%] mb-[1.5%] bg-center bg-no-repeat bg-cover bottom-[0.1vh] mr-[0.5vw] ml-[0.5vw] relative;
    min-width: 32%;
    &__element--floating{
      @apply flex justify-center items-center absolute bg-black bg-opacity-60 w-[10vw] h-[10vw] right-[4%] top-[4%] text-white;      
      max-width: 40px;
      max-height: 40px;      
      font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: calc(0.4vw + 0.4em);
    }
  }
}
.design_bottom::-webkit-scrollbar {
  height: 8px; /* Mostly for horizontal scrollbars */
  background: #f1db9d;
  border-radius: 5px;
}
.design_bottom::-webkit-scrollbar-thumb {
  background: #d5ac68;
  border-radius: 5px;
}
.design_editbtn{
  @apply flex items-center justify-center relative text-xl bg-white bottom-[3%] left-[42%] w-[12vw] h-[12vw];    
  color: #444444;   
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%; 
}
@media (max-width: 620px) {
  .design_body{
    width: 95vw;
  }
}
@media (max-width: 410px) {
  .design_body{
    height: 80vh;
    margin-bottom: 20vh
  }
  .design_bottom__movie{
    height: 80%;
  }
}
